.App {
  font-family: sans-serif;
  text-align: center;
}

.cm-return-annotation {
  background-color: silver;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid black;
}

.cm-install-dependency-btn {
  padding-left: 4px;
}

.cm-install-dependency-btn button {
  font-size: 14px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  padding: 2px;
}

.cm-install-dependency-btn button:hover {
  color: #bb4040;
  border: 1px solid #bb4040;
}